
@media only screen and (max-width: 500px){
    .logo img{

        width: 500px;
        text-align: center;
    }
}

footer{
    background-color: #ff6f00;
}
header{
    background-color: #38352d;
    margin: auto;
}
.logo img{
    width: 100%;
}
body{
    background-color: #38352d;
}
.nav{
    background-color: #ff6f00;
}
.nav div{
    width: auto;
    background-color: #ccc;

    display: flex;
    flex-wrap: nowrap;
}
.footerIcons{
    width: auto;
    display: flex;
}