*{
    margin: 0;
    padding: 0;
}
/*Estilos comúnes*/
footer{
    background-color: #ff6f00;
}
header{
    background-color: #38352d;
    margin: auto;
}

.nav{
    width: auto;
    background-color: #f1880f;

    display: flex;
    flex-wrap: nowrap;
}
.footerIcons{
    width: auto;
    display: flex;
}
#sellCar{
    display: none;
}
#sellMoto{
    display: none;
}